<h1>Listing pins</h1>

<table class="table table-striped">
  <thead>
    <th>Image</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <!-- This is a partial -->
    <%= render @pins %> 
  </tbody>
</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
