<div class="center hero-unit">
    <h1>Welcome to One Month Rails</h1>

    <h2>
      You've found the home page for the
      <%= link_to "One Month Rails", "http://omrails.com/" %> 
      application.
    </h2>
    <p>
    	<a href="#">Sign Up Now!</a>
    </p>

</div>
