<div class="center hero-unit">
    <h1>Welcome to PetitsPets</h1>

    <h2>
      You've found the home page for the
      <%= link_to "One Month Rails", "http://omrails.com/" %> 
      application.
    </h2>
    <%= link_to "Sign up now!", '#', 
                                class: "btn btn-large btn-primary" %>

</div>
